<!-- users table -->
<div id="users">
  <div>
    <div>
      <form>
        <input
          name="searchTerm"
          #searchInput="ngModel"
          ngModel
          (ngModelChange)="searchUsers(searchInput.value)"
          type="search"
          placeholder="Search users..."
        />
      </form>
      <button [hidden]="!isManager" type="button" (click)="onClickNewUser()">
        <i class="fa fa-plus"></i> New User
      </button>
    </div>
    <div>
      <button type="button" (click)="getUsers(true)">
        @if (refreshing) {
          <i class="fas fa-sync fa-spin"></i>
        }
        @if (!refreshing) {
          <i class="fas fa-sync"></i>
        }
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    @for (appUser of users; track appUser) {
      <tbody>
        <tr (click)="onSelectUser(appUser)">
          <td>
            <img
              height="40"
              width="40"
              src="{{ appUser?.profileImgUrl }}"
              alt="profile image"
            />
          </td>
          <td>{{ appUser?.userId }}</td>
          <td>{{ appUser?.firstName }}</td>
          <td>{{ appUser?.lastName }}</td>
          <td>{{ appUser?.username }}</td>
          <td>{{ appUser?.email }}</td>
          <td>
            <!-- <span [hidden]="!appUser?.active" class="badge bg-success"
              >Active</span
            >
            <span [hidden]="appUser?.active" class="badge bg-danger"
              >Inactive</span
            > -->
            <mat-chip-set aria-label="active status">
              <mat-chip [hidden]="!appUser?.active" class="mat-chip-success">Active</mat-chip>
              <mat-chip [hidden]="appUser?.active" class="mat-chip-danger">Inactive</mat-chip>
            </mat-chip-set>
          </td>
          <td>
            @if (!(currentUsername === appUser.username)) {
              <div>
                <!-- <button
                  (click)="onEditUser($event, appUser)"
                  class="btn btn-outline-info"
                >
                  <i class="fa fa-edit"></i>
                </button> -->
                <button
                  matFab
                  aria-label="edit button"
                  (click)="onEditUser($event, appUser)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button
                  [hidden]="!isAdmin"
                  (click)="onDeleteUser(appUser?.username)"
                  class="btn btn-outline-danger"
                >
                  <i class="fa fa-trash"></i>
                </button> -->
                <button
                  matFab
                  aria-label="delete button"
                  (click)="onDeleteUser(appUser?.username)"
                  class="mat-button-trash"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            }
          </td>
        </tr>
      </tbody>
    }
  </table>
</div>
