<!-- model add user -->
<div
  [hidden]="!isManager"
  id="addUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div role="document">
    <div>
      <div>
        <h5>New User</h5>
        <button type="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div>
          <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
            <div>
              <label for="firstName">First Name</label>
              <input
                id="firstName"
                type="text"
                name="firstName"
                required
                ngModel
              />
            </div>
            <div>
              <label for="lastName">Last Name</label>
              <input
                id="lastName"
                type="text"
                name="lastName"
                required
                ngModel
              />
            </div>
            <div>
              <label for="username">Username</label>
              <input
                id="username"
                type="text"
                name="username"
                required
                ngModel
              />
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" required ngModel />
            </div>
            @if (isAdmin) {
              <div>
                <label for="authority"
                  >Role <small [hidden]="isAdmin">(read only)</small></label
                >
                <select
                  id="authority"
                  name="role"
                  [disabled]="!isAdmin"
                  required
                  ngModel="ROLE_USER"
                >
                  <option value="ROLE_USER">USER</option>
                  <option value="ROLE_HR">HR</option>
                  <option value="ROLE_MANAGER">MANAGER</option>
                  <option value="ROLE_ADMIN">ADMIN</option>
                  <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                </select>
              </div>
            }
            @if (!isAdmin) {
              <div>
                <label for="authority">Role</label>
                <input
                  id="authority"
                  type="text"
                  name="role"
                  required
                  ngModel="USER"
                  readonly
                />
              </div>
            }
            <div>
              <div>
                <span>Profile Picture </span>
              </div>
              <div>
                <input
                  type="file"
                  accept="image/*"
                  [disabled]="!isManager"
                  name="profileImage"
                  (change)="
                    onProfileImageChange(
                      $any($event.target).files[0].name,
                      $any($event.target).files[0]
                    )
                  "
                />
                <label>
                  <span [hidden]="!fileName">{{ fileName }}</span>
                  <span [hidden]="fileName">Choose File</span>
                </label>
              </div>
            </div>
            <fieldset>
              <div>
                <label>
                  <input
                    type="checkbox"
                    name="active"
                    [disabled]="!isManager"
                    ngModel
                  />
                  Acitve <small [hidden]="isManager">(read only)</small>
                </label>
              </div>
              <div>
                <label>
                  <input
                    type="checkbox"
                    name="notLocked"
                    [disabled]="!isManager"
                    ngModel
                  />
                  Unlocked <small [hidden]="isManager">(read only)</small>
                </label>
              </div>
            </fieldset>
            <button type="submit" id="new-user-save"></button>
          </form>
        </div>
      </div>
      <div>
        <button type="button" data-bs-dismiss="modal" id="new-user-close">
          Close
        </button>
        <button
          type="button"
          (click)="saveNewUser()"
          [disabled]="newUserForm.invalid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
