<article>
    <section>
        <p>"The Open ChemLab" project was started as a Bachelor of Science capstone project. The primary use case is educational through discovering real-world facts about chemistry by experimenting with different combinations of elements from the periodic table of elements. An external RESTful API data services named <a href="https://pubchemdocs.ncbi.nlm.nih.gov/pug-rest-tutorial">PubChem</a> is used.
        </p>
    </section>

    <section>
        <p>Created using service oriented architecture. The source code can be found on GitHub here:</p>
        <ul>
            <li>Backend - <a href="https://github.com/calebd-anderson/open-chemistry-lab-backend">https://github.com/calebd-anderson/open-chemistry-lab-backend</a></li>
            <li>Frontend - <a href="https://github.com/calebd-anderson/open-chemistry-lab-frontend">https://github.com/calebd-anderson/open-chemistry-lab-frontend</a></li>
        </ul>
    </section>

    <section>
        <p>Made up of the follwing technologies:</p>
        <ul>
            <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a> - Web API</li>
            <li><a href="https://www.mongodb.com/docs/languages/java/">MongoDB</a> - NoSQL persistence</li>
            <li><a href="https://angular.dev/">Angular</a> - Frontend</li>
            <li><a href="https://gsap.com/">GSAP</a> - Animations</li>
            <li><a href="https://codepen.io/mikegolus/pen/OwrPgB">Periodic Table</a> - periodic table CSS</li>
        </ul>
    </section>

    <section>
        <p>The original team was made up of the following group members including myself:</p>
        <ul>
            <li>Caleb Anderson (myself) - <a href="mailto:caleb&#64;calebdanderson.dev">caleb&#64;calebdanderson.dev</a></li>
            <li>Andrew Vick - <a href="mailto:andrew.vick&#64;my.metrostate.edu">andrew.vick&#64;my.metrostate.edu</a></li>
            <li>Don Nguyen - <a href="mailto:donnguyen000&#64;gmail.com">donnguyen000&#64;gmail.com</a></li>
            <li>Mohomudwale Mohomed - <a href="mailto:mohomudwale.mohomed&#64;my.metrostate.edu">mohomudwale.mohomed&#64;my.metrostate.edu</a></li>
            <li>Abebe Gebeyehu - <a href="mailto:agebeyehu1&#64;my.anokaramsey.edu">agebeyehu1&#64;my.anokaramsey.edu</a></li>
        </ul>
    </section>
</article>
