<p>The "ChemLab" is a Bachelor of Science, software engineering capstone project, designed and built by:</p>
<ul>
    <li>Caleb Anderson</li>
    <ul>
        <li><a href="mailto:caleb.anderson&#64;my.metrostate.edu">caleb.anderson&#64;my.metrostate.edu</a></li>
    </ul>
    <li>Andrew Vick</li>
    <ul>
        <li><a href="mailto:andrew.vick&#64;my.metrostate.edu">andrew.vick&#64;my.metrostate.edu</a></li>
    </ul>
    <li>Don Nguyen</li>
    <ul>
        <li><a href="mailto:donnguyen000&#64;gmail.com">donnguyen000&#64;gmail.com</a></li>
    </ul>
    <li>Mohomudwale Mohomed</li>
    <ul>
        <li><a href="mailto:mohomudwale.mohomed&#64;my.metrostate.edu">mohomudwale.mohomed&#64;my.metrostate.edu</a></li>
    </ul>
    <li>Abebe Gebeyehu</li>
    <ul>
        <li><a href="mailto:agebeyehu1&#64;my.anokaramsey.edu">agebeyehu1&#64;my.anokaramsey.edu</a></li>
    </ul>
</ul>
<p>
    The primary use case is discovering facts about different combinations of elements in the periodic table. 
    To do this we leverage an external PUG REST API called <a href="https://pubchemdocs.ncbi.nlm.nih.gov/pug-rest-tutorial">PubChem</a>.
</p>
<p>The technologies used are:</p>
<ul>
    <li>Spring Boot</li>
    <li>Angular</li>
    <li>MongoDB</li>
</ul>
<p>The source code can be found on GitHub here:</p>
<ul>
    <li>Backend</li>
    <ul>
        <li><a href="https://github.com/calebTree/ics499-chem-backend">https://github.com/calebTree/ics499-chem-backend</a></li>
    </ul>
    <li>Frontend</li>
    <ul>
        <li><a href="https://github.com/calebTree/ics499-chem-frontend">https://github.com/calebTree/ics499-chem-frontend</a></li>
    </ul>
</ul>
