<!-- model add user -->
<div
  id="addUserModal"
  role="dialog"
  aria-labelledby="add user model"
  aria-hidden="true"
>
  <h2 mat-dialog-title>New User</h2>
  <mat-dialog-content>
    <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
      <div>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" required ngModel />
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastName" required ngModel />
      </div>
      <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required ngModel />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" required ngModel />
      </div>
      @if (isAdmin) {
        <div>
          <label for="authority"
            >Role <small [hidden]="isAdmin">(read only)</small></label
          >
          <select
            id="authority"
            name="role"
            [disabled]="!isAdmin"
            required
            ngModel="ROLE_USER"
          >
            <option value="ROLE_USER">USER</option>
            <option value="ROLE_HR">HR</option>
            <option value="ROLE_MANAGER">MANAGER</option>
            <option value="ROLE_ADMIN">ADMIN</option>
            <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
          </select>
        </div>
      }
      @if (!isAdmin) {
        <div>
          <label for="authority">Role</label>
          <input
            id="authority"
            type="text"
            name="role"
            required
            ngModel="USER"
            readonly
          />
        </div>
      }
      <div>
        <div>
          <span>Profile Picture </span>
        </div>
        <div>
          <input
            type="file"
            accept="image/*"
            [disabled]="!isManager"
            name="profileImage"
            (change)="
              onProfileImageChange(
                $any($event.target).files[0].name,
                $any($event.target).files[0]
              )
            "
          />
          <label>
            <span [hidden]="!fileName">{{ fileName }}</span>
            <span [hidden]="fileName">Choose File</span>
          </label>
        </div>
      </div>
      <fieldset>
        <div>
          <label>
            <input
              type="checkbox"
              name="active"
              [disabled]="!isManager"
              ngModel
            />
            Acitve <small [hidden]="isManager">(read only)</small>
          </label>
        </div>
        <div>
          <label>
            <input
              type="checkbox"
              name="notLocked"
              [disabled]="!isManager"
              ngModel
            />
            Unlocked <small [hidden]="isManager">(read only)</small>
          </label>
        </div>
      </fieldset>
      <mat-dialog-actions>
        <button
          matButton="elevated"
          type="submit"
          id="new-user-save"
          [disabled]="newUserForm.invalid"
        >
          Save changes
        </button>
        <button matButton mat-dialog-close type="button">Close</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
