#title {
  display: block;
  text-align: center;
}

.compound {
  border: 5px;
  border-style: solid;
  margin: 10px;
  background-color: lightgrey;
  height: fit-content;
  width: fit-content;
}

.element-in-compound {
  text-align: center;
  display: inline-block;
  border: 5px;
  border-style: solid;
  padding: 20px;
  margin: 5px;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

#validate-btn {
  margin: 25px;
}

button {
  margin: 10px;
}
#compound-test {
  grid-column: 1/3;
}

#experiment-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("../../../../assets/images/SEF4bG.jpg");
  background-size: cover;
  // border: 5px solid;
  height: 19rem;
}

h2 {
  margin: 2rem;
  background-image: radial-gradient(#86bbd8, #33658a);
  display: inline-block;
  padding: 5px 10px 5px;
  border-radius: 10px;
}

#flask {
  position: absolute;
  text-align: end;
  top: 0;
  right: 0;
}

[info-icon] {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0.25rem;
}
