#title {
  display: block;
  text-align: center;
}

.compound {
  border: 5px;
  border-style: solid;
  margin: 10px;
  background-color: lightgrey;
  height: fit-content;
  width: fit-content;
}

.element-in-compound {
  text-align: center;
  display: inline-block;
  border: 5px;
  border-style: solid;
  padding: 20px;
  margin: 5px;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

#validate-btn {
  margin: 25px;
}

button {
  margin: 10px;
}

#compound-test.active {
  height: 250px;
}

#experiment-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("../../../../assets/images/SEF4bG.jpg");
  background-size: cover;
  // border: 5px solid;
}

h2 {
  margin: 2rem;
  background-image: linear-gradient(grey, black);
  display: inline-block;
  color: white;
  padding: 5px 10px 5px;
  border-radius: 3px;
}

#flask {
  text-align: end;
}