<!-- <div>
  <h5>Users Management</h5>
  @if (titleAction$ | async; as title) {
    <small>{{ title }}</small>
  }
</div> -->

<!-- nav bar -->
<!-- <nav>
  <div id="navbarCollapse">
    <div>
      <a (click)="changeTitle('Users')" data-bs-toggle="tab" href="#users">
        <i class="fa fa-users"></i>
        Users
      </a>
      <a
        [hidden]="!isManager"
        (click)="changeTitle('Settings')"
        data-bs-toggle="tab"
        href="#reset-password"
      >
        <i class="fa fa-cogs"></i>
        Settings
      </a>
      <a (click)="changeTitle('Profile')" data-bs-toggle="tab" href="#profile">
        Welcome, {{ user?.firstName }}
        <i class="fa fa-user"></i>
      </a>
    </div>
  </div>
</nav> -->

<!-- modal user info -->
<h2 mat-dialog-title>
  {{ selectedUser?.firstName }} {{ selectedUser?.lastName }}
</h2>
<mat-dialog-content>
  <!-- <button type="button" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <img
                  height="120"
                  width="120"
                  src="{{ selectedUser?.profileImgUrl }}"
                  alt="{{ selectedUser?.firstName }}"
                />
              </div>
            </div>
          </div>
          <div>
            <div>
              <h6>
                {{ selectedUser?.firstName }}
                {{ selectedUser?.lastName }}
              </h6>
              <p>{{ selectedUser?.username }}</p>
              <div>
                Status:
                <span [hidden]="!selectedUser?.active">Active</span>
                <span [hidden]="selectedUser?.active">Inactive</span>
              </div>
              @if (selectedUser?.lastLoginDate) {
                <div>
                  <small
                    >Last Login:
                    {{ selectedUser?.lastLoginDate | date: "medium" }}</small
                  >
                </div>
              }
            </div>
            <div>
              <div>
                <small
                  >Joined
                  {{ selectedUser?.joinDate | date: "mediumDate" }}</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul>
        <li>
          <i class="fa fa-id-badge"></i>
          {{ selectedUser?.userId }}
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          {{ selectedUser?.email }}
        </li>
        <li>
          <i class="fa fa-shield-alt"></i>
          {{ selectedUser?.role.substring(5) }}
          @if (selectedUser?.lastLoginDate) {
            <li>
              <i class="fa fa-sign-in-alt"></i>
              {{ selectedUser?.lastLoginDate | date: "medium" }}
            </li>
          }
        </li>

        <li>
          <span [hidden]="selectedUser?.notLocked">
            <i class="fa fa-lock" style="color: red"></i>
            Account Locked
          </span>
          <span [hidden]="!selectedUser?.notLocked">
            <i class="fa fa-unlock" style="color: green"></i>
            Account Unlocked
          </span>
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close type="button">Close</button>
</mat-dialog-actions>

<!-- main content -->
<!-- change password  -->
<!-- <div [hidden]="!isManager" id="reset-password">
    <form
      #resetPasswordForm="ngForm"
      (ngSubmit)="onResetPassword(resetPasswordForm)"
    >
      <fieldset>
        <legend>User Password Management</legend>
        <div>
          <label for="reset-password-email">Email address</label>
          <input
            type="email"
            name="reset-password-email"
            required
            ngModel
            placeholder="Enter email (example@email.com)"
          />
          <small>We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">
          @if (refreshing) {
            <i class="fa fa-spinner fa-spin"></i>
          }
          &nbsp;&nbsp;
          @if (refreshing) {
            <span>Loading...</span>
          }
          @if (!refreshing) {
            <span>Reset Password</span>
          }
        </button>
      </fieldset>
    </form>
  </div> -->
