<!-- Navigation menu that only appears when user is logged in -->
<nav id="user-nav-menu">
    <div class="flex justify-between items-center mb-4">
        <span class="font-semibold text-cyan-100 text-lg">{{ user()?.firstName }}</span>
    </div>

    <hr class="my-2 border-slate-700" />

    <div class="menu-content">
        <button (click)="onClickProfile()" type="button" class="user-nav-button">
            <svg class="w-5 h-5 mr-3 text-cyan-300" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                    stroke="currentColor" stroke-width="2" />
                <path d="M12 14C8.13435 14 5 17.1344 5 21H19C19 17.1344 15.8656 14 12 14Z" stroke="currentColor"
                    stroke-width="2" />
            </svg>
            Profile
        </button>

        <div [hidden]="!isAdmin" id="admin-menu">
            <hr class="my-2 border-slate-700" />
            <button id="admin-menu-button" routerLink="/user/management" type="button" class="user-nav-button">
                <svg admin-icon class="w-5 h-5 mr-3 text-cyan-300"></svg>
                User Management
            </button>
        </div>

        <hr class="my-2 border-slate-700" />

        <button id="logout-menu-button" [hidden]="!authenticationService.getIsLoggedIn()" (click)="onClickLogout()"
            type="button" class="user-nav-button">
            <svg logout-icon class="w-5 h-5 mr-3 text-cyan-300"></svg>
            Logout
        </button>
    </div>
</nav>