<header id="main-header">
  <svg logo-icon (click)="openDialog()"></svg>

  <h1>The Open Chemistry Lab</h1>

  <div id="user-controls">
    <div>
      <button
        class="login-btn"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        [hidden]="authenticationService.getIsLoggedIn()"
        type="button"
      >
        Login
      </button>
    </div>

    <div class="profileInfo" [hidden]="!authenticationService.getIsLoggedIn()">
      <button (click)="openMenu()">
        <img
          height="40"
          width="40"
          src="{{ user?.profileImgUrl }}"
          class="rounded-circle img-fluid img-thumbnail"
          alt="profile image"
        />
      </button>
    </div>

  </div>
</header>

<nav id="user-nav-menu">
  <div id="nav-item1">
    <span>{{ user?.firstName }}</span>
    <button id="close-menu-button" (click)="openMenu()">
      <svg close-icon></svg>
    </button>
  </div>
  <hr />
  <button (click)="onClickProfile()">Profile</button>
  <div [hidden]="!isAdmin" id="admin-menu">
    <hr />
    <button id="admin-menu-button" routerLink="/user/management">
      <svg admin-icon></svg>
      User Managment
    </button>
  </div>
  <hr />
  <button
    id="logout-menu-button"
    [hidden]="!authenticationService.getIsLoggedIn()"
    (click)="onClickLogout()"
  >
    <svg logout-icon></svg>
    Logout
  </button>
</nav>

<nav id="main-nav">
  <app-tabs />
</nav>

<!-- dynamic routs -->
<router-outlet></router-outlet>

<!-- login modal -->
<div class="modal fade" id="loginModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- the child newItemEvent of login sends $event to parent getLoggedIn of app-component -->
        <app-login (newItemEvent)="getLoggedIn($event)"></app-login>
      </div>
    </div>
  </div>
</div>

<!-- register modal -->
<div class="modal fade" id="registerModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
