<section>
  <h3 mat-dialog-title>Create Account</h3>
  <mat-dialog-content class="mat-typography">
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" class="needs-validation">
      <!-- first name -->
      <div class="mb-2">
        <div class="input-group">
          <mat-label class="input-group-text">
            <i class="fa fa-user"></i>
          </mat-label>
          <input type="text" class="form-control"
            [class.text-box-error]="!firstNameInput.pristine && firstNameInput.invalid" name="firstName"
            placeholder="First name" required [(ngModel)]="user.firstName" #firstNameInput="ngModel" />
        </div>
        <small [hidden]="firstNameInput.valid || firstNameInput.pristine" class="form-error">Please enter a
          first name.</small>
      </div>

      <!-- last name -->
      <div class="mb-2">
        <div class="input-group">
          <mat-label class="input-group-text"><i class="fa fa-user"></i>
          </mat-label>
          <input type="text" class="form-control"
            [class.text-box-error]="!lastNameInput.pristine && lastNameInput.invalid" name="lastName"
            placeholder="Last name" required [(ngModel)]="user.lastName" #lastNameInput="ngModel" />
        </div>
        <small [hidden]="lastNameInput.valid || lastNameInput.pristine" class="form-error">Please enter a
          last
          name.</small>
      </div>

      <!-- username -->
      <div class="mb-2">
        <div class="input-group">
          <mat-label class="input-group-text"><i class="fa fa-id-card"></i></mat-label>
          <input type="text" class="form-control" name="username"
            [class.text-box-error]="!usernameInput.pristine && usernameInput.invalid" placeholder="Username" required
            [(ngModel)]="user.username" #usernameInput="ngModel" />
        </div>
        <small [hidden]="usernameInput.valid || usernameInput.pristine" class="form-error">Please enter a
          username.</small>
      </div>

      <!-- email -->
      <div class="mb-2">
        <div class="input-group">
          <mat-label class="input-group-text"><i class="fa fa-envelope"></i></mat-label>
          <input type="email" class="form-control" [class.text-box-error]="!emailInput.pristine && emailInput.invalid"
            name="email" placeholder="Email" required [(ngModel)]="user.email" #emailInput="ngModel" />
        </div>
        <small [hidden]="emailInput.valid || emailInput.pristine" class="form-error">Please enter an email.
        </small>
      </div>

      <!-- password -->
      <div class="mb-2">
        <div class="input-group">
          <mat-label class="input-group-text"><i class="fa fa-key"></i></mat-label>
          <input type="password" class="form-control"
            [class.text-box-error]="!passwordInput.pristine && passwordInput.invalid" name="password"
            placeholder="Password" required [(ngModel)]="user.password" #passwordInput="ngModel" />
        </div>
        <small [hidden]="passwordInput.valid || passwordInput.pristine" class="form-error">Please enter a
          password.</small>
      </div>

      <!-- register buttons -->
      <div class="d-flex justify-content-center mt-3">
        <button [disabled]="registerForm.form.invalid || showLoading" type="submit" name="button" class="btn login_btn">
          @if (showLoading) {
          <i class="fa fa-spinner fa-spin"></i>
          }
          &nbsp;&nbsp;
          @if (showLoading) {
          <span>Loading...</span>
          }
          @if (!showLoading) {
          <span>Register</span>
          }
        </button>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    Already have an account?
    <button type="button" matButton (click)="onClickLogin()">Log In</button>
  </mat-dialog-actions>
</section>