<div>
  <div>
    <div>
      <h3 mat-dialog-title>Create Account</h3>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          name="firstName"
          placeholder="First name"
          required
          ngModel
          #firstNameInput="ngModel"
        />
      </div>
      @if (firstNameInput.invalid && firstNameInput.touched) {
        <span class="help-block" style="color: red"
          >Please enter a first name</span
        >
      }
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          name="lastName"
          placeholder="Last name"
          required
          ngModel
          #lastNameInput="ngModel"
        />
      </div>
      @if (lastNameInput.invalid && lastNameInput.touched) {
        <span class="help-block" style="color: red"
          >Please enter a last name</span
        >
      }
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-id-card"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required
          ngModel
          #usernameInput="ngModel"
        />
      </div>
      @if (usernameInput.invalid && usernameInput.touched) {
        <span class="help-block" style="color: red"
          >Please enter a username</span
        >
      }
      <!-- email -->
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
          required
          ngModel
          #emailInput="ngModel"
        />
      </div>
      @if (emailInput.invalid && emailInput.touched) {
        <span class="help-block" style="color: red"
          >Please enter an email.</span
        >
      }
      <!-- password -->
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
          ngModel
          #passwordInput="ngModel"
        />
      </div>
      @if (emailInput.invalid && emailInput.touched) {
        <span class="help-block" style="color: red"
          >Please enter a password.</span
        >
      }
      <!-- register buttons -->
      <div class="d-flex justify-content-center mt-3 login_container">
        <button
          [disabled]="registerForm.invalid || showLoading"
          type="submit"
          name="button"
          class="btn login_btn"
        >
          @if (showLoading) {
            <i class="fa fa-spinner fa-spin"></i>
          }
          &nbsp;&nbsp;
          @if (showLoading) {
            <span>Loading...</span>
          }
          @if (!showLoading) {
            <span>Register</span>
          }
        </button>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-center links">
      Already have an account?
      <a (click)="onClickLogin()">Log In</a>
    </div>
    <button matButton mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
