<!-- modal edit user -->
<div
  id="editUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div role="document">
    <div>
      <div>
        <h5>
          Edit {{ editUser?.firstName }} {{ editUser?.lastName }}
          <small [hidden]="isManager">(read only)</small>
        </h5>
        <button type="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div>
          <form #editUserForm="ngForm">
            <div>
              <label for="firstName">First Name</label>
              <input
                id="firstName"
                type="text"
                name="firstName"
                [disabled]="!isManager"
                required
                [(ngModel)]="editUser.firstName"
              />
            </div>
            <div>
              <label for="lastName">Last Name</label>
              <input
                id="lastName"
                type="text"
                name="lastName"
                [disabled]="!isManager"
                required
                [(ngModel)]="editUser.lastName"
              />
            </div>
            <div>
              <label for="username">Username</label>
              <input
                id="username"
                type="text"
                name="username"
                [disabled]="!isManager"
                required
                [(ngModel)]="editUser.username"
              />
            </div>
            <div>
              <label for="email">Email</label>
              <input
                id="email"
                type="email"
                name="email"
                [disabled]="!isManager"
                required
                [(ngModel)]="editUser.email"
              />
            </div>
            <div>
              <label for="authority"
                >Role <small [hidden]="isAdmin">(read only)</small></label
              >
              <select
                name="role"
                [disabled]="!isAdmin"
                required
                [(ngModel)]="editUser.role"
              >
                <option value="ROLE_USER">USER</option>
                <option value="ROLE_HR">HR</option>
                <option value="ROLE_MANAGER">MANAGER</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
              </select>
            </div>
            <div>
              <div>
                <span>Profile Picture</span>
              </div>
              <div>
                <input
                  type="file"
                  accept="image/*"
                  [disabled]="!isManager"
                  name="profileImage"
                  (change)="
                    onProfileImageChange(
                      $any($event.target).files[0].name,
                      $any($event.target).files[0]
                    )
                  "
                />
                <label>
                  <span [hidden]="!fileName">{{ fileName }}</span>
                  <span [hidden]="fileName">Choose File</span>
                </label>
              </div>
            </div>
            <fieldset>
              <div>
                <label>
                  <input
                    id="active"
                    name="active"
                    type="checkbox"
                    [disabled]="!isManager"
                    [(ngModel)]="editUser.active"
                  />
                  Acitve <small [hidden]="isManager">(read only)</small>
                </label>
              </div>
              <div>
                <label for="active">
                  <input
                    name="locked"
                    type="checkbox"
                    [disabled]="!isManager"
                    [(ngModel)]="editUser.notLocked"
                  />
                  Unlocked <small [hidden]="isManager">(read only)</small>
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div>
        <button type="button" id="closeEditUserModalButton">Close</button>
        <button
          type="button"
          (click)="onUpdateUser()"
          [disabled]="!isManager || editUserForm.invalid"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
