<!-- modal edit user -->
<div role="dialog" aria-labelledby="edit user modal" aria-hidden="true">
  <h2 mat-dialog-title>
    Edit {{ editUser?.firstName }} {{ editUser?.lastName }}
    <small [hidden]="isManager">(read only)</small>
  </h2>
  <mat-dialog-content>
    <form #editUserForm="ngForm">
      <div>
        <img
          height="120"
          width="120"
          src="{{ editUser?.profileImgUrl }}"
          alt="{{ editUser?.firstName }}"
        />
        <div>
          <input
            id="profileImage"
            type="file"
            accept="image/*"
            [disabled]="!isManager"
            name="profileImage"
            (change)="
              onProfileImageChange(
                $any($event.target).files[0].name,
                $any($event.target).files[0]
              )
            "
          />
          <label for="profileImage">
            <span [hidden]="!fileName">{{ fileName }}</span>
            <span [hidden]="fileName">Profile Picture</span>
          </label>
        </div>
      </div>
      <div>
        <label for="firstName">First Name</label>
        <input
          id="firstName"
          type="text"
          name="firstName"
          [disabled]="!isManager"
          required
          [(ngModel)]="editUser.firstName"
        />
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input
          id="lastName"
          type="text"
          name="lastName"
          [disabled]="!isManager"
          required
          [(ngModel)]="editUser.lastName"
        />
      </div>
      <div>
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          [disabled]="!isManager"
          required
          [(ngModel)]="editUser.username"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          name="email"
          [disabled]="!isManager"
          required
          [(ngModel)]="editUser.email"
        />
      </div>
      <div>
        <label for="authority"
          >Role <small [hidden]="isAdmin">(read only)</small></label
        >
        <select
          name="role"
          [disabled]="!isAdmin"
          required
          [(ngModel)]="editUser.role"
        >
          <option value="ROLE_USER">USER</option>
          <option value="ROLE_HR">HR</option>
          <option value="ROLE_MANAGER">MANAGER</option>
          <option value="ROLE_ADMIN">ADMIN</option>
          <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
        </select>
      </div>
      <fieldset>
        <div>
          <label for="active">
            <input
              id="active"
              name="active"
              type="checkbox"
              [disabled]="!isManager"
              [(ngModel)]="editUser.active"
            />
            Acitve <small [hidden]="isManager">(read only)</small>
          </label>
        </div>
        <div>
          <label for="locked">
            <input
              id="locked"
              name="locked"
              type="checkbox"
              [disabled]="!isManager"
              [(ngModel)]="editUser.notLocked"
            />
            Unlocked <small [hidden]="isManager">(read only)</small>
          </label>
        </div>
      </fieldset>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      type="button"
      (click)="onUpdateUser()"
      [disabled]="!isManager || editUserForm.invalid"
      matButton="elevated"
    >
      Save Changes
    </button>
    <button
      matButton
      mat-dialog-close
      type="button"
      id="closeEditUserModalButton"
    >
      Close
    </button>
  </mat-dialog-actions>
</div>
