@if (progressBar) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<section id="compound-test" [class.active]="elementsInCompound.length > 0">
  <h1 id="title">Experiment</h1>
  <app-flask></app-flask>
  @if (elementsInCompound.length > 0) {
  <div class="compound">
    @for (element of elementsInCompound; track element; let i = $index) {
      <!-- "{'background-color': '#' + element?.cPKHexColor}" -->
    <div class="element-in-compound" (click)="removeElementFromCompound(i, element)"
      [ngStyle]="{'background-image': 'linear-gradient(30deg, grey 10%, #' + element?.cPKHexColor + ')'}">
      {{element?.symbol}}
    </div>
    }
  </div>
  <!-- run experiment buttons -->
  <div id="validate-btn">
    <button mat-raised-button color="primary" (click)="validateCompound()">Run Experiment</button>
    <button mat-raised-button (click)="clearExperiment()">Clear Experiment</button>
  </div>
  } @else {
  <h2>The experiment is empty.</h2>
  }
</section>
