/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
// @import "../node_modules/angular-notifier/styles";

td {
    cursor: pointer;
}
.move-right {
    position: absolute;
    right: 0;
}

.move-left {
    position: absolute;
    left: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// custom snackbar styles
.green-success-snackbar {
  background-color: #2bbe68 !important;
  --mat-snackbar-container-color: #2bbe68 !important;
  color: #fff ;
  font-weight: 500;
}

.red-error-snackbar {
  background-color: #ff3737 !important;
  --mat-snackbar-container-color: #ff3737 !important;
  color: #fff ;
  font-weight: 500;
}

.orange-warning-snackbar {
  --mat-snackbar-container-color: #ff6f00 !important;
//   --mat-mdc-snack-bar-button-color: 
//   --mat-snackbar-supporting-text-color: 
  background-color:  #ff6f00 !important;
  color: #fff ;
  font-weight: 500;
}

.default-snackbar{
  font-weight: 500;
}