@use "@/tailwind.css";

:host {
  display: block;
}

.discovery-table {
  width: 100%;
}

.discovery-table tbody tr {
  transition: background-color 0.2s ease;
}

.discovery-table tbody tr:hover {
  background-color: rgb(249 250 251);
}